---
layout: default
cover_img: /img/hhvm.png
cover_title: ""
---

<div class="home row">

  <div class="postsi col-md-9">
	  <h1 class="page-heading">Posts</h1>

	  <ul class="post-list">
		{% for post in site.posts %}
		  {% if post.lang != "en" %}
		  <li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
			  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<p>{{ post.content | strip_html | truncatewords:30}}</p>
		  </li>
		  {% endif %}
		{% endfor %}
	  </ul>

  </div>

  <div class="side col-md-3">
    TODO opensource and slides
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
