---
layout: default
---

<div class="home row">

  <div class="postsi col-md-9">
	  <ul class="post-list">
		{% for post in site.posts %}
		  {% if post.lang != "en" %}
		  <li>

			<h2>
			  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			<p>{{ post.content | strip_html | truncatewords:13 }}</p>
		  </li>
		  {% endif %}
		{% endfor %}
	  </ul>

  </div>

  <div class="side col-md-3">
    <div class="opensource">
	  <h4>Opensource</h4>
	  <ul>
	  {% for project in site.data.projects %}
	    <li>{{ project.name}}</li>
	  {% endfor %}
	</div>
	<div class="slides">
		<h4>Slides</h4>
		{% for slide in site.slides %}
		  <div class="">
			<a target="_blank" href="{{ slide.url }}">
			<div>
			  <img src="{{ slide.cover }}" />
			</div>
			</a>
		  </div>
		{% endfor %}
	</div>
  </div>

</div>
