---
layout: default
---

<div class="home row">

  <div class="postsi col-md-9">
	  <ul class="post-list">
		{% for post in site.posts %}
		  {% if post.lang != "en" %}
		  <li>

			<h2>
			  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			<p>{{ post.content | strip_html | truncatewords:13 }}</p>
	        {% include post_info.html post=post %}
		  </li>
		  {% endif %}
		{% endfor %}
	  </ul>

  </div>

  <div class="side col-md-3">
    <div class="opensource">
	  <h4>Opensource</h4>
	  <ul>
	  {% for project in site.data.projects %}
	    <li>{{ project.name}}</li>
	  {% endfor %}
	</div>
	<div class="slides">
		<h4>Slides</h4>
		{% for slide in site.slides %}
		  <div class="">
			<a target="_blank" href="{{ slide.url }}">
			<div>
			  <img src="{{ slide.cover }}" />
			</div>
			</a>
		  </div>
		{% endfor %}
	</div>
    <div class="last-comments">
        <!-- 多说最新评论 start -->
        <div class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
        <!-- 多说最新评论 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"baidu-lamp"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
  </div>

</div>
