
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
// open external url in new window
var a_list= document.getElementsByTagName("a"); 
for(var i=0; i < a_list.length; i++){  
	var href = a_list[i].href;
	if( href && String(href).indexOf(window.location.host) < 0 ){  
		a_list[i].target = "_blank";
	}  
} 
</script>
