<header class="container site-header">

  <div class="wrapper">

<nav class="navbar " role="navigation">
    <div class="navbar-header">
	    <a class="navbar-brand" href="#"><img src="/img/logo.png" height="45" /></a>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
  </div>
  <div id="navbar" class="navbar-nav navbar-right">
	  <ul class="nav nav-pills">
		  <li class="nav-item"><a href='#'>Home</a></li>
		  <li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" role="button" href='#'>Articles</a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href='#'>HHVM</a></li>
			  <li><a href='#'>PHP</a></li>
			  <li><a href='#'>Nginx</a></li>
			  <li><a href='#'>Performance</a></li>
			</ul>
		  </li>
		  <li><a href='#'>Posts</a></li>
		  <li><a href='#'>Opensource</a></li>
		  <li><a href='#'>Slides</a></li>
		  <li></li>
	  </ul>
  </div><!--/.navbar-collapse -->
</nav>

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
