<header class="site-header">

<div class="main-navbar">
<nav class="navbar container" role="navigation">
    <div class="navbar-header">
	    <a class="navbar-brand" href="#"><img src="/img/logo.png" height="45" /></a>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
  </div>
  <div id="navbar" class="navbar-nav navbar-right">
	  <ul class="nav nav-pills">
		  <li class="nav-item"><a href='/'>首页</a></li>
		  <li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" role="button" href='#'>技术</a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href='/hhvm/'>HHVM</a></li>
			  <li><a href='/php/'>PHP</a></li>
			  <li><a href='/nginx/'>Nginx</a></li>
			  <li><a href='/performance/'>Performance</a></li>
			</ul>
		  </li>
		  <li><a href='/opensource/'>开源</a></li>
		  <li><a href='/slides/'>Slides</a></li>
		  <li>
			  <form action="http://zhannei.baidu.com/cse/search" method="GET" target="_blank" class="navbar-form navbar-left" role="search">
				  <div class="form-group">
				  <input name="s" type="hidden" value="14104709770559984219" />
				  <input name="q" type="text" class="form-control" placeholder="Search">
				  </div>
			  </form>
		  </li>
		  <li></li>
	  </ul>
  </div><!--/.navbar-collapse -->
</nav>
</div>

<div class="head-bg">

	<div class="container">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	</div>

</div>

</header>
