<p class="post-meta">
{% for author in site.authors %}
  {% if author.author == slide.author %}
    {% assign page_author = author %}
    <img class="avatar" src="{{ author.avatar }}" />
  {% endif %}
{% endfor %}
{% if slide.author %}
  {% if page_author and page_author.website %}
    <a href="{{ page_author.website}}" target="_blank">{{ page_author.name}}</a>
  {% else %}
    <a href="{{ page_author.url}}" target="_blank">{{ page_author.name}}</a>
  {% endif %}
{% endif %}
{% if slide.tags != empty %} • 
  {% for tag in slide.tags %}
    <span class="tag">{{ tag }}</span>
  {% endfor %}
{% endif %}
 • {{ slide.date | date: "%Y-%m-%d" }}
{% if slide.meta %} • {{ slide.meta }}{% endif %}
{% if slide.conf %}
  | 会议: 
  {% if slide.conf_url %} 
    <a class="conf-link" href="{{ slide.conf_url }}">{{ slide.conf }}</a>
  {% else %}
    {{ slide.conf }}
  {% endif %}
{% endif %}

•

{% if slide.file %}
  {% assign download_link = slide.file %}
{% else %}
  {% assign download_link=slide | prepend "http://wenku.baidu.com/view/" | append ".html" %}
{% endif %}
<a target="_blank" href="{{ download_link }}"> <span class="glyphicon glyphicon-save"></span> 下载 </a>

{% if slide.en_url %} • <span class="english-label label label-primary"><a href="{{ post.en_url }}">english version</a></span>{% endif %}
</p>