---
layout: default
cover_title: "HHVM"
---

<div class="home row">
  <div class="post col-md-8">
     {{ content }}
  </div>

  <div class="post col-md-4">
	  <h4 class="page-heading">HHVM相关资源</h4>
	  <ul>
		<li>官方网站</li>
	  </ul>
	  <h4 class="page-heading">HHVM相关博客</h4>
	  <ul class="">
		{% for post in site.tags.HHVM %}
		  {% if post.lang != "en" %}
		  <li>
			  <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		  </li>
		  {% endif %}
		{% endfor %}
	  </ul>
  </div>

</div>
