---
layout: default
cover_title: "HHVM"
---

<div class="home row">
  <div class="post col-md-4">
     <a href="/hhvm/hhvm-in-action"><img src="/img/hhvm-in-action-cover.png" /></a>
  </div>
  <div class="post col-md-4">
	<p></p>
	<p></p>
	<p></p>
	<p></p>
     <h3 style="margin-top: 100px;">《HHVM应用实战》</h3>
	 <hr />
	 <p>
	 简介：本书包含HHVM相关一些的内容，主要为百度在使用HHVM过程中做积累的经验，
	 涉及：HHVM的使用技巧，扩展开发及性能调优。
	 </p>

	 <p><a href="/hhvm/hhvm-in-action">前往阅读</a></p>
  </div>

  <div class="post col-md-4">
	  <h4 class="page-heading">HHVM相关资源</h4>
	  <ul>
		<li>官方网站</li>
	  </ul>
	  <h4 class="page-heading">HHVM相关博客</h4>
	  <ul class="">
		{% for post in site.tags.HHVM %}
		  {% if post.lang != "en" %}
		  <li>
			  <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		  </li>
		  {% endif %}
		{% endfor %}
	  </ul>
  </div>

</div>
