---
layout: default
---

<div class="row">
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
	{% assign slide=page %}
	{% include slide_info.html %}
	</p>
  </header>

  {% if page.download_only %}
  <div style="font-size: 1.0em; text-align: center; padding: 5px; margin: 5px 0;" class="alert-warning">文档转码中，预览暂时不可用，请点击上方 <b>下载链接</b> 进行浏览</div>
  {% endif %}

  <article class="post-content">

  <iframe src="/pdfjs/viewer.html?file={{page.file}}" width="100%" height="600"></iframe>
  <!--
  <object height="500" align="middle" width="100%" id="reader" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
    <param value="window" name="wmode">
	<param value="true" name="allowfullscreen">
	<param name="allowscriptaccess" value="always">
	<embed height="600" align="middle" width="100%" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="reader" src="http://wenku.baidu.com/static/flash/apireader.swf?docurl=http://wenku.baidu.com/play&amp;docid={{slide.wenku_docid}}&amp;readertype=external" allowfullscreen="true" wmode="window" allowscriptaccess="always" bgcolor="#FFFFFF" ver="9.0.0">
	</embed>
  </object>
  -->

    {{ content }}
  </article>

  {% if page.lang == "en" %}
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = "{{ site.disqus_id }}";

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% else %}
	<div class="ds-thread" data-thread-key="" data-title="{{ page.title }}" data-url=""></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"{{ site.duoshuo_id }}"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0]
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
  {% endif %}
  </div>
</div>
