---
layout: default
---

<div class="home row">

  <div class="postsi col-md-9">
	  <ul class="post-list">
		{% for post in paginator.posts %}
		  {% if post.lang != "en" %}
		  <li>

			<h2>
			  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<p class="post_except">{{ post.content | strip_html | truncatewords:13 }}</p>
	        {% include post_info.html post=post %}
		  </li>
		  {% endif %}
		{% endfor %}
	  </ul>

        <!-- Pagination links -->
        <div class="pagination">
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="/articles/" class="previous">&lt;</a>
            {% else %}
            <a href="/articles/page/{{ paginator.previous_page }}" class="previous">&lt;</a>
            {% endif %}
            {% else %}
            
            {% endif %}


            {% if paginator.next_page %}
            <a href="/articles/page/{{ paginator.next_page }}" class="next">&gt;</a>
            {% else %}
            
            {% endif %}
        </div>

  </div>

  <div class="side col-md-3">
	<div class="slides side-item">
		<h4><span class="glyphicon glyphicon-th"></span> Tags</h4>
		<ul class="tags">
		{% for tag in site.tags %}
		{% assign t = tag | first %}
		{% assign posts = tag | last %}
		  <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
		{% endfor %}
		</ul>
	</div>
    <div class="last-comments side-item">
		<h4><span class="glyphicon glyphicon-heart"></span> 所有留言</h4>
        <!-- 多说最新评论 start -->
        <div class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
        <!-- 多说最新评论 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"baidu-lamp"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
  </div>

</div>
